
<div class = "container custom-container-2">

    <div class = "no=-data text-enter">
        <button class = "btn btn-outline-priary" routerLink = "/create-todo">Add Todo</button>
    </div>


    <div>
        <h3 class = "mb-3 text-center">Employee List</h3>

        <div class = "col-md-12">
         <table class = "table table-botdered">
         <thead>
            <tr>
                <th scope = "col">User ID</th>
                <th scope = "col">Title</th>
                <th scope = "col">Description</th>
                <th scope = "col">Priority</th>
                <th scope = "col">Status</th>
                <th scope = "col">Action</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let todo of Todos">
            <td>{{ todo.id }}</td>
            <td>{{ todo.title }}</td>
            <td>{{ todo.description }}</td>
            <td>{{ todo.priority }}</td>
            <td>{{ todo.status }}</td>
            <td>
                <button class = "edit" routerLink = "/todo-edit/{{todo.id}}">Edit</button>
                <button class="delete" (click)="deleteTodo(todo.id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</div>

