
<div class="container">
    <h1>Add Todo</h1>
    <form>
      <div class="form-group">
        <label>Title</label>
        <input mdbInput  type="text" name = "title" [(ngModel)] = "todoDetails.title" class="form-control form-control-sm">
      </div>

      <div class="form-group">
       <label>Description</label>
       <input mdbInput  type="text" name = "description" [(ngModel)] = "todoDetails.description" class="form-control form-control-sm">
      </div>

        <div class="form-group">
        <label>priority</label>
        <select class="form-control" [(ngModel)]="todoDetails.priority" name = "priority">
            
            <option *ngFor="let priority of priorities" [value]="priority.value" >{{priority.viewValue}}</option>
        </select>
        
      </div>

        <div class="form-group">
        <label>Status</label>
        <select class="form-control"  name = "status" 
          [(ngModel)]="todoDetails.status" >
            <option *ngFor="let status of statusOptions" [value]="status.value">{{status.viewValue}}</option>
        </select>
      </div>


      <button type="submit" class="btn btn-success" (click) = "addTodo()">Submit</button>
       <button type="submit" class="btn btn-success" (click) = "reset()">Reset</button>
    </form>
</div>








